.card {
  background-color: #8685ccbd;
  width: 200px;
  height: 200px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
}

.card > img {
  width: 150px;
}

.cards-collection {
  animation: marqueel 35s linear infinite;
  display: flex;
  gap: 20px;
  width: max-content;
}

.cards-collection:hover {
  animation-play-state: paused;
}
