.main-area {
  display: flex;
  height: 400px;
  color: #4b5563;
  width: 84vw;
  justify-content: space-between;
  padding: 7vh 7vw;
}

.left-main {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-direction: column;
}

.right-main {
  /* background-color: green; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-main > img {
  width: 500px;
}

.main-btn-container > button {
  margin: 10px 10px;
}

.register-for-free-btn {
  background-color: #8685cc;
  text-decoration: none;
  color: white;
  padding: 0.875rem 2.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
  justify-content: center;
  align-items: center;
  border-radius: 0.3125rem;
  margin-right: 1rem;
  max-width: 288px;
}

.register-for-free-btn2 {
  background-color: #0d2129;
  color: white;
  text-decoration: none;
  padding: 0.875rem 2.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
  max-width: 229px;
  border-radius: 0.3125rem;
}

.dream-job {
  font-size: 3rem;
}

@media only screen and (max-width: 1000px) {
  .main-area {
    flex-direction: column;
    gap : 50px;
    height: 80vh;
  }

  .left-main {
    gap: 12px;
    align-items: center;
  }

  .dream-job {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 400px) {
  .dream-job {
    font-size: 1.5rem;
  }
  .left-main {
    margin-top: 12vh;
  }
}
