.trusted-comp {
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.5rem;
  font-size: 2rem;
  line-height: 1.375;
  font-weight: 700;
  margin-top: 20px;
  color: #00353b;
  /* margin-top: 100px; */
}

#maindiv {
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  width: 97%;
  padding: 20px 0;
}

@keyframes marqueel {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marqueel2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}

.trusted-marquee {
  display: flex;
  width: max-content;
  gap: 100px;
  animation: marqueel 35s linear infinite;
}

.trusted-marquee:hover {
  animation-play-state: paused;
}

.trusted-marquee > div > img {
  height: 50px;
}

@keyframes marquee {
  from {
    transform: translateX(50%);
  }
  to {
    transform: translateX(-220%);
  }
}

.work-experience {
  display: flex;
  justify-content: center;
  width: 100%;
}

.work-experience > section {
  background-color: #8685ccbd;
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 410px;
  justify-content: center;
  gap: 30px;
  border-radius: 25px;
  align-items: center;
}

.work-experience > section > :nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center; 
}

.work-experience > section > :nth-child(1) > section {
  background-color: white;
  width: max-content;
  font-size: 14px;
  font-weight: 700;
  color: #1f2937;
  border-radius: 4px;
  padding: 4px 8px;
}

.work-experience > section > :nth-child(2) {
  width: 80%;
  color: #1f2937;
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 600;
  text-align: center;
}

.work-experience > section > :nth-child(3) {
  width: 80%;
  color: #1f2937;
  text-align: center;
}

.work-experience > section > :nth-child(4) {
  display: flex;
  justify-content: center;
}
.work-experience > section > :nth-child(4) > button {
  padding: 0.75rem 1.5rem;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: #1f2937;
  color: #fff;
  font-weight: 500;
  width: max-content;
}

.placement-offers {
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.5rem;
  font-size: 2rem;
  line-height: 1.375;
  /* font-weight: 700; */
  margin-top: 20px;
}

.how-it-works-heading {
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: -0.05em;
  color: #3f4b52;
  margin: 0 7vw 16px;
  margin-top : 100px;
}

.how-it-works {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.how-it-works-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.how-it-works-left > section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.how-it-works-left > section > img {
  width: 32px;
  height: 32px;
  border: 1px solid gray;
  padding: 20px;
  border-radius: 5px;
}

.how-it-works-left > section > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.how-it-works-left > section > div > section {
  font-size: 21px;
  line-height: 34px;
  font-weight: bolder;
}

.how-it-works-right > img {
  max-width: 40vw;
}

.unique-features {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.unique-features > div {
  width: 75%;
}

.unique-features > div > article {
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: -0.05em;
  color: #3f4b52;
  margin: 0 0 16px;
}

.unique-features > div > div {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.unique-features > div > div > section {
  width: 350px;
}

.unique-features > div > section {
  font-size: 16px;
  line-height: 24px;
  color: #3f4b52;
}

.unique-features > div > div > section > img {
  width: 50px;
  height: 50px;
  margin: 30px 30px 30px 0;
}

.unique-features > div > div > section > :nth-child(2) {
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: -0.05em;
  color: #3f4b52;
  margin: 0 0 16px;
}

.unique-features > div > div > section > :nth-child(3) {
  font-size: 15px;
  line-height: 27px;
  color: #3f4b52;
}

.footer {
  background-color: #C67F2C;
  width: 100%;
  height: 100vh;
  color: white;
  margin-top: -200px;
}

.footer > section {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 600;
  text-align: center;
  padding-top: 7vw;
}

.footer > article {
  text-align: center;
  padding-top: 3vh;
  font-size: 1.125rem;
}

.footer > div {
  width: 98%;
  display: flex;
  justify-content: center;
  padding: 6vh 0;
  gap: 50px;
}

.footer > div > button {
  position: relative;
  z-index: 1;
  padding: 0.75rem 1.5rem;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;  
  border-radius: 8px;
  background-color: #22a45a;
  transition: background-color 300ms ease, -webkit-transform 300ms ease;
  transition: transform 300ms ease, background-color 300ms ease;
  transition: transform 300ms ease, background-color 300ms ease,
    -webkit-transform 300ms ease;
  color: #fff;
  font-weight: 500;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: center;
  width: 70%;
}

.footer-content > section {
  width: 20%;
}

.footer-line {
  display: flex;
  width: 98%;
  justify-content: center;
}
.footer-line > div {
  width: 80%;
  border-bottom: 1px solid rgba(128, 128, 128, 0.323);
}

.student-thought {
  display: flex;
  justify-content: center;
  width: 100%;
  /* margin-top : -100px; f */
  /* background-color: #00353c; */
}

.student-thought > section {
  background-color: #8685cc;
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 550px;
  /* justify-content: center; */
  padding: 50px 0;
  gap: 50px;
  border-radius: 25px;
  align-items: center;
}

.student-thought > section > :nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.student-thought > section > :nth-child(1) > section {
  background-color: white;
  width: max-content;
  font-size: 14px;
  font-weight: 700;
  color: #1f2937;
  border-radius: 4px;
  padding: 4px 8px;
}

.student-thought > section > :nth-child(2) {
  width: 80%;
  color: #1f2937;
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 600;
  text-align: center;
}

.student-thought > section > :nth-child(3) {
  width: 80%;
  color: #1f2937;
  text-align: center;
}

.student-thought-marq {
  overflow: hidden;
  position: relative;
  top: -350px;
  padding: 30px 0;
}

.student-thought-marq > div {
  display: flex;
  gap: 20px;
  animation: marqueel2 25s linear infinite;
}

.student-thought-marq2 {
  /* width: 98vw; */

  overflow: hidden;
  white-space: nowrap;
  position: relative;
  top: -380px;
  padding: 30px 0;
}

.student-thought-marq2 > div {
  display: flex;
  gap: 50px;
  animation: marqueel2 25s linear infinite;
}

.student-thought-marq2 :hover {
  animation-play-state: paused;
}

.student-thought-marq > div > section {
  /* animation: marquee 20s linear infinite; */
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 150px;
  min-width: 25rem;
  margin-right: 2rem;
  padding: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 32px;
  background-color: white;
  color: #1f2937;
  /* animation: marqueel 15s linear infinite; */
}

.student-thought-marq2 > div > section > iframe {
  border-radius: 16px;
  outline: none;
  border: none;
}

.student-thought-ratings {
  display: flex;
  width: 100%;
}

.student-thought-marq section > section {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.student-thought-bg {
  background-color: #C67F2C;
  position: relative;
  top: 1250px;
  z-index: -1;
  width: 100%;
  height: 1000px;
  margin-top: -950px;
}

.benefits-perks {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.benefits-perks > section {
  display: flex;
  justify-content: center;
  width: 100%;
}

.benefits-perks > section > div {
  width: max-content;
  padding: 10px;
  background-color: #8685ccec;
}

.benefits-perks > :nth-child(2) {
  color: #1f2937;
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 600;
  text-align: center;
}

.benefits-perks > :nth-child(3) {
  font-size: 1.125rem;
  text-align: center;
  color: #4b5563;
}

.benefits-perks > article {
  display: flex;
  gap: 50px;
  justify-content: center;
}

.benefits-perks > article > div {
  display: flex;
  gap: 50px;
  flex-direction: column;
}

.benefits-perks > article > div > section {
  width: 350px;
}

.benefits-perks > article > section {
  font-size: 16px;
  line-height: 24px;
  color: #3f4b52;
}

.benefits-perks > article > div > section > img {
  width: 50px;
  height: 50px;
  margin: 30px 30px 30px 0;
}

.benefits-perks > article > div > section :nth-child(2) {
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: -0.05em;
  color: #3f4b52;
  margin: 0 0 16px;
}

.benefits-perks > article > div > section :nth-child(3) {
  font-size: 15px;
  line-height: 27px;
  color: #3f4b52;
}

.benefits-perks > article > div > img {
  object-fit: cover;
  width: 30vw;
  height: 100%;
  border-radius: 18px;
}

@media only screen and (max-width: 1000px) {
  .how-it-works {
    flex-direction: column;
  }

  .unique-features > div > div > section {
    width: 250px;
  }

  .benefits-perks > article {
    flex-direction: column;
    align-items: center;
  }

  .benefits-perks > article > div {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }
  /* .trusted-comp {
    margin-top: 15vh;
  } */
}

@media only screen and (max-width: 400px) {
  /* .main-area{
    flex-direction: column;
    margin-top: 38vh;
  } */

  .right-main > img {
    width: 250px;
  }

  .work-experience > section > :nth-child(2) {
    font-size: 1rem;
  }

  .how-it-works-left {
    width: 80%;
  }

  .benefits-perks > :nth-child(2) {
    font-size: 1rem;
  }

  .benefits-perks > :nth-child(3) {
    font-size: 0.825rem;
  }

  .benefits-perks > article > div {
    width: 80%;
    gap: 18px;
  }

  .student-thought > section > :nth-child(2) {
    font-size: 1rem;
  }
}
